{%extends 'main.html'%}

{%block content%}
<style>

</style>

<div class="container" style="margin-bottom:55px;">
	<div class="mbr-section-head">
		<h3 class="mbr-section-title mbr-fonts-style mb-2 title-relative display-2">
			Vehicle Price Alerts
			<svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-arrow-down-short rotate" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"></path>
			</svg>
		</h3>
		<button class="btn btn-primary" data-toggle="modal" data-target="#newAlert">New Alert</button>
	</div>
	<div class="row mbr-gallery mt-4">
		{%for alert in alerts.data%}
			<div class="col-12 col-md-6 col-lg-4 item gallery-image" style="position:relative;">
				{%if alerts.get(alert._id) != None%}
				{%set vehicle =  alerts.get(alert._id)["vehicle"]%}
				{%set img_file = vehicle["description"]["vehicleFiles"] if vehicle["description"]["vehicleFiles"] else "n/a.jpg"%}
				<div style="position:absolute;right: 2.5%;">
				<a href="shop-single.html?id={{vehicle._id}}">
					<img src="static/arrivals/{{img_file.split(',')[0]}}" style="height: 65%;width: 112px;border-radius: 10px;cursor:pointer"/>
				</a>
				</div>
				{%endif%}
				<div class="position" data-bs-toggle="modal">
					<div class="item-wrapper" onclick="">
						
						<div class="icon-wrapper">
							<span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
						</div>

						<div class="item-content">
							<h5 class="item-title mbr-fonts-style mb-0 size display-5"><strong>{{alert.name}}</strong></h5>
							<p class="mbr-text mbr-fonts-style mb-0 mt-1 display-7">KES {{alert.price}}</p>
							<p class="mbr-text mbr-fonts-style mb-0 mt-1 display-7">{{alert.description}}</p>
							<p class="mbr-text mbr-fonts-style mb-0 mt-1 display-7">{{alert.date}} </p>
							<p class="mbr-text mbr-fonts-style"> <a href="?delete=true&id={{alert._id}}">Delete</a></p>
						</div>
					</div>
				</div>
			</div>
		
		{%endfor%}
		
	</div>
	
</div>
<div class="modal" id="newAlert" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="">Create New Alert</h4>
		</div>
		<form method="post" id="myForm">
		<div class="modal-body">
		
			<div class="form-group">
				<label for="">Alert Name</label>
				<input type="text" name="name" class="form-control hm-inpt-modal-s1" id="" placeholder="my alert">
			</div>
			<div class="form-group">
				<label for="">Alert Price <small>(KES )</small></label>
				<input type="number" name="price" min="4999" class="form-control hm-inpt-modal-s2" id="" placeholder="ie: price">
			</div>
			<div class="form-group">
				<label for="">Description</label><br>
				<textarea class="form-control" name="description" rows="6" width="100%">Alert description</textarea>
			</div>
		
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-primary hm-btn-modal-s1" data-dismiss="modal"> Create Alert</button>
		</div>
		</form>
	</div>
	</div>
</div>
<script>
$(document).ready(function(){
	$(".hm-btn-modal-s1").click(function(){
		$("#myForm").submit()
	})
})
</script>
{%endblock%}

