<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Get access to vehicles that you can compare and purchase in our online store. Live for offered for certain cars">
	<meta name="keywords" content="compare, buy car,compare cars,car store,supercar store,supercar shop,buy car,analyse car,carstore,supercarstore,supercar">
	<meta name="author" content="Et">
	<meta name="robots" content="index, follow">
	<meta name="googlebot" content="index, follow">
    <title>Car Selling Website</title>
    <!-- Swiper css CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://kit.fontawesome.com/c63faa1f51.js" crossorigin="anonymous"></script>
    <!-- Custom Css -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='app.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
    <script src="{{url_for('static',filename='models.js')}}"></script>
		<script src="{{url_for('static',filename='js/jquery.bundle.js')}}"></script>
    <!-- BoxIcon CDN -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+nU3+0spSBu4lXnpqqj7pIG9y8W31cOZh7ISvqV" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.0.18/sweetalert2.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.0.18/sweetalert2.min.js"></script>
</head>
<body>
    
    <!-- Top Header -->
    <div class="top-header">
        <div class="out-box">
            <div class="inside-box">
                <div class="col-1">
                    
                    <span><i class='bx bx-alarm' ></i>Sun - Fri (08 AM - 10 PM)</span>
                </div>

                <div class="col-2">
                    {%if session.get("user") == None%}
                    <a href="login.html"><i class='bx bx-arrow-to-right'></i>Login</a>
                    <a href="signup.html"><i class='bx bxs-user'></i>Register</a>
                    {%else%}
                    <a href="logout"><i class='bx bx-arrow-to-left'></i>Logout</a>
                    {%endif%}
                    <span>Follow Us:</span>
                    <div class="social">
                        <i class='bx bxl-facebook-circle' ></i>
                        <i class='bx bxl-twitter' ></i>
                        <i class="bx bxl-instagram"></i>
                        <i class="bx bxl-linkedin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Section Start -->
    <header class="header">
        <div class="logo">
            <img src="img/logo/logo.png" alt="">
        </div>
        <nav>
            <div class="navbar">
                
                    <ul class="navLink">
                        
                        <li><a href="#">Pages<i class='bx bxs-chevron-down'></i></a>
                            <ul class="drop-down">
                                <li><a href="/">Store</a></li>
                                <li><a href="cart">Cart</a></li>
								<li><a href="alerts">Alerts</a></li>
                                <li><a href="compare">Compare</a></li>
                                <li><a href="orders">History</a></li>
                                <li><a href="review">Review</a></li>
                                <li><a href="shop_checkout.html">Checkout</a></li>
                               
                            </ul>
                        </li>
                       
                    </ul>
            </div>
            <div class="others" style="position: absolute;top:30%;right: 7%;">
                <!---->
                <a href="shop_cart.html"><i class='bx bx-cart-download cart'></i></a>
                <!---<button class="addBtn"><i class='bx bx-plus-circle'></i>Add Listing</button>--->
            </div>
            <div class="others" style="position: absolute;top:30%;left: 7%;">
                <a href="javascript:void(0)" onclick="this.nextElementSibling.style.display='block'"><i class='bx bx-search-alt-2' ></i></a>
                <form style="display:none;" action="shop">
                    <input type="text" class="form-control" name="search" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </nav>
    </header>

   

    <!-- Shop Section -->
    {%block content%}
    {%endblock%}

    <!-- Footer Section Start -->
    <div class="footer" style="position: fixed;width: 100%;bottom: 0;">
        
        <div class="footer-bottom">
            
            <div class="social">
                <i class="bx bxl-facebook"></i>
                <i class="bx bxl-twitter"></i>
                <i class="bx bxl-linkedin"></i>
                <i class="bx bxl-youtube"></i>
            </div>
        </div>

        <!-- Scroll Top Animation -->
        <a href="#" class="scrollBtn">
            <i class="bx bxs-chevrons-up"></i>
        </a>
    </div>
	
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    
    <!-- Swiper JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Custom JS File -->
    <script src="{{url_for('static',filename='script.js')}}"></script>
	
	
    <script>
        var msg = "{{msg}}"
        console.log(msg)
        if(msg !== "False" && msg != "" && msg != "None"){
			try{
				Swal.fire({
					title: 'Message!',
					text: msg,
					icon: 'info',
					confirmButtonText: 'OK'
				});
			}catch(e){
				console.log(e)
			}
			setTimeout(function(){
				location.search = location.search.split("&")[0]
			},799)
           
        }
    </script>
    

</body>
</html>