{%extends 'main.html'%}

{%block content%}

<style>
@media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}

.horizontal-timeline .items {
border-top: 2px solid #ddd;
}

.horizontal-timeline .items .items-list {
position: relative;
margin-right: 0;
}

.horizontal-timeline .items .items-list:before {
content: "";
position: absolute;
height: 8px;
width: 8px;
border-radius: 50%;
background-color: #ddd;
top: 0;
margin-top: -5px;
}

.horizontal-timeline .items .items-list {
padding-top: 15px;
}
</style>

<section class="vh-100" style="margin-bottom:165px;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        {%if order != None and order.get("invoice")%}
        <section class="h-50 h-custom" style="background-color: #eee;">
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-lg-8 col-xl-6">
                <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
                  <div class="card-body p-5">
        
                    <p class="lead fw-bold mb-5" style="color: #f37a27;">Purchase Reciept</p>
        
                    <div class="row">
                      <div class="col mb-3">
                        <p class="small text-muted mb-1">Date</p>
                        <p>{{order["invoice"]["date"]}}</p>
                      </div>
                      <div class="col mb-3">
                        <p class="small text-muted mb-1">Order No.</p>
                        <p>{{order["book"]["_id"]}}</p>
                      </div>
                    </div>
        
                    <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                      <div class="row">
                        <div class="col-md-8 col-lg-9">
                          <p>{{order["vehicle"]["name"]}}</p>
                        </div>
                        <div class="col-md-4 col-lg-3">
                          <p>{{order["invoice"]["amount"]}}</p>
                        </div>
                      </div>
                      
                    </div>
        
                    <div class="row my-4">
                      <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                        <p class="lead fw-bold mb-0" style="color: #f37a27;">{{order["invoice"]["amount"]}}</p>
                      </div>
                    </div>
        
                    <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Tracking Order</p>
        
                    <div class="row">
                      <div class="col-lg-12">
        
                        <div class="horizontal-timeline">
        
                          <ul class="list-inline items d-flex justify-content-between">
                            <li class="list-inline-item items-list">
                              <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Ordered</p
                                class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">
                            </li>
                            {%if order["invoice"]["complete"]%}
                              <li class="list-inline-item items-list">
                                <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Paid</p
                                  class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">
                              </li>
                            {%endif%}
                            {%if order["book"]["confirmed"]%}
                              <li class="list-inline-item items-list">
                                <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Shipped</p
                                  class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">
                              </li>
                            {%endif%}
                            {%if order["book"]["complete"]%}
                            <li class="list-inline-item items-list text-end" style="margin-right: 8px;">
                              <p style="margin-right: -8px;">Delivered</p>
                            </li>
                            {%endif%}
                          </ul>
        
                        </div>
        
                      </div>
                    </div>

                    <p class="mt-4 pt-2 mb-0">Back to ? <a href="orders" style="color: #f37a27;">Orders</a></p>
					<p class="mt-4 pt-2 mb-0"><a href="javascript:void(0)" style="color: #f37a27;" data-toggle="modal" data-target="#addReview">Review</a> 
					<a href="javascript:void(0)" class="toggle-map" data-toggle="modal" data-target="#showMap" style="color: #f37a27;position:absolute;right: 2.5%;">Show in Map</a></p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {%else%}
          <h5>Completed</h5>
            {%for order in cart["complete"]%}
          <div class="col">
            <div class="card card-stepper" style="border-radius: 10px;">
              <div class="card-body p-4">
    
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-column">
                    <span class="lead fw-normal">{{order["vehicle"]["name"]}} | {{"Your order has been delivered" if order["book"]["complete"] else "Your order has been recieved"}}</span>
                    <span class="text-muted small">{{order["invoice"]["due"]}}</span>
                  </div>
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="d-flex flex-column align-items-start"><span>{{order["book"]["date"]}}</span> | <span>Order placed</span>
                    </div>
                    <div class="d-flex flex-column justify-content-center"><span>{{order["invoice"]["due"]}}</span> | <span>Order
                        paid</span></div>
                    <div class="d-flex flex-column justify-content-center align-items-center"><span> </span><span>Order Dispatched</span></div>
                    <div class="d-flex flex-column align-items-center"><span> </span><span>Out for
                        delivery</span></div>
                    
                  </div>
                  <div>
                    <button class="btn btn-outline-primary" type="button" onclick="location.search='invoice={{order["invoice"]["_id"]}}'">Track order details</button>
                  </div>
                </div>
                <hr class="my-4">
    
                
              </div>
            </div>
          </div>
          {%endfor%}
          <hr/>
          <h5>Pending</h5>
          {%for order in cart["pending"]%}
          {%set img_file = order["vehicle"]["description"]["vehicleFiles"] if order["vehicle"]["description"]["vehicleFiles"] else "n/a.jpg"%}
          <div class="col">
            <div class="card card-stepper" style="border-radius: 10px;">
              <div class="card-body p-4">
    
                <div class="d-flex justify-content-between align-items-center" style="position: relative;">
                  <div class="d-flex flex-column">
                    <span class="lead fw-normal">{{"Your order is being processed" if order["book"]["complete"] else "Your order has been recieved, Waiting to be process"}}</span>
                    <span class="text-muted small">{{order["invoice"]["due"]}}</span>
                  </div>
                  <div class="d-flex flex-column align-items-start"><span>{{order["book"]["date"]}}</span><span> Order placed</span>
                  </div>
                  <div class="d-flex flex-column align-items-start"><span>{{order["book"]["_id"]}}</span><span> Order ID</span>
                  </div>
                  <div>
                    <button class="btn btn-outline-primary" type="button" onclick="location.search='invoice={{order["invoice"]["_id"]}}'">Track order details</button>
                  </div>
                  <img src="/static/arrivals/{{img_file.split(',')[0]}}" style="display:none;position: absolute;right:5%;top: -4%;width: 96px;height: 92px;object-fit: contain;border-radius: 8px;"><img>
                </div>
                <hr class="my-4">
    
               
              
              </div>
            </div>
          </div>
          {%endfor%}
          {%endif%}
      </div>
    </div>
  </section>
<div class="modal" id="showMap" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="">Track your order</h4>
		</div>
		
		<div class="modal-body" id="map" style="height:442px;">
		
		
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

		</div>
		
	</div>
	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEMWRGDnjpOs-aPsph65S0Bhpxsxapjlo" async defer></script>
<script src="static/js/models/map.js"></script>
<script>
$(document).ready(function(){
	$(".toggle-map").click(function(){
		{%if order != None and order.get("order")%}
			let current = {{order.get('order')['address']|join(', ')}}
			console.log("current",current)
			current = current.split(",")
			current = current[current.length-1]
			if(current){
				let loc = current;
				
				initMap(loc,"map")
			}
		{%else%}
			initMap(null,"map")
		{%endif%}
	})
})

</script>
  {%endblock%}