{%extends 'main.html'%}

{%block content%}

<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        {%if order != None and order.get("invoice")%}
        <div class="col">
          <div class="card card-stepper" style="border-radius: 10px;">
            <div class="card-body p-4">
  
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                  <span class="lead fw-normal">{{"Your order has been delivered" if order["book"]["complete"] else "Your order has been recieved"}}</span>
                  <span class="text-muted small">{{order["invoice"]["due"]}}</span>
                </div>
                <div>
                  <button class="btn btn-outline-primary" type="button" onclick="location.search='invoice={{order["invoice"]["_id"]}}'">Track order details</button>
                </div>
              </div>
              <hr class="my-4">
  
              <div class="d-flex flex-row justify-content-between align-items-center align-content-center">
                <span class="dot"></span>
                <hr class="flex-fill track-line"><span class="dot"></span>
                <hr class="flex-fill track-line"><span class="dot"></span>
                <hr class="flex-fill track-line"><span class="dot"></span>
                <hr class="flex-fill track-line"><span
                  class="d-flex justify-content-center align-items-center big-dot dot">
                  <i class="fa fa-check text-white"></i></span>
              </div>
  
              <div class="d-flex flex-row justify-content-between align-items-center">
                <div class="d-flex flex-column align-items-start"><span>{{order["book"]["date"]}}</span><span>Order placed</span>
                </div>
                <div class="d-flex flex-column justify-content-center"><span>{{order["invoice"]["date"]}}</span><span>Order
                    placed</span></div>
                <div class="d-flex flex-column justify-content-center align-items-center"><span> </span><span>Order Dispatched</span></div>
                <div class="d-flex flex-column align-items-center"><span> </span><span>Out for
                    delivery</span></div>
                <div class="d-flex flex-column align-items-end"><span> {{order["invoice"]["due"]}} </span><span>Delivered</span></div>
              </div>
  
            </div>
          </div>
        </div>
        {%else%}
            {%for order in cart["complete"]%}
          <div class="col">
            <div class="card card-stepper" style="border-radius: 10px;">
              <div class="card-body p-4">
    
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-column">
                    <span class="lead fw-normal">{{"Your order has been delivered" if order["book"]["complete"] else "Your order has been recieved"}}</span>
                    <span class="text-muted small">{{order["invoice"]["due"]}}</span>
                  </div>
                  <div>
                    <button class="btn btn-outline-primary" type="button" onclick="location.search='invoice={{order["invoice"]["_id"]}}'">Track order details</button>
                  </div>
                </div>
                <hr class="my-4">
    
                <div class="d-flex flex-row justify-content-between align-items-center align-content-center">
                  <span class="dot"></span>
                  <hr class="flex-fill track-line"><span class="dot"></span>
                  <hr class="flex-fill track-line"><span class="dot"></span>
                  <hr class="flex-fill track-line"><span class="dot"></span>
                  <hr class="flex-fill track-line"><span
                    class="d-flex justify-content-center align-items-center big-dot dot">
                    <i class="fa fa-check text-white"></i></span>
                </div>
    
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <div class="d-flex flex-column align-items-start"><span>{{order["book"]["date"]}}</span><span>Order placed</span>
                  </div>
                  <div class="d-flex flex-column justify-content-center"><span>{{order["invoice"]["date"]}}</span><span>Order
                      placed</span></div>
                  <div class="d-flex flex-column justify-content-center align-items-center"><span> </span><span>Order Dispatched</span></div>
                  <div class="d-flex flex-column align-items-center"><span> </span><span>Out for
                      delivery</span></div>
                  <div class="d-flex flex-column align-items-end"><span> {{order["invoice"]["due"]}} </span><span>Delivered</span></div>
                </div>
    
              </div>
            </div>
          </div>
          {%endfor%}
          {%endif%}
      </div>
    </div>
  </section>
  {%endblock%}