{%extends 'main.html'%}

{%block content%}
<section class="p-4 p-md-5 text-center text-lg-start shadow-1-strong rounded" style=" ">
  <div class="row d-flex justify-content-center">
    {%if reviews['total'] == 0%}
    <div class="empty-shopping-cart w-100" style="margin-top:150px">
      <div>
          <div class="text-center"><h2>Reviews</h2></div>
          <div class="mt-2 text-center"><span>Your Will be able to make reviews after purchase</span></div>
          <div class="flex justify-center mt-2">
              <a href="/" class="button primary"><span><span class="flex space-x-1"><span class="self-center">CONTINUE SHOPPING</span>
                   <svg class="self-center" style="width:2.5rem;height:2.5rem" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                  </span></span>
              </a>
          </div>
      </div>
  </div>
    {%endif%}
    {%for review in reviews['data']%}
    {%set img_file = review["vehicle"]["description"]["vehicleFiles"] if review["vehicle"]["description"]["vehicleFiles"] else "n/a.jpg"%}
      <div class="col-md-10">
      <div class="card">
        <div class="card-body m-3">
          <div class="row">
            <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
              <img src="/static/arrivals/{{img_file.split(',')[0]}}"
                class="rounded-circle img-fluid shadow-1" alt="woman avatar" width="200" height="200" />
            </div>
            <div class="col-lg-8">
              <p class="text-muted fw-light mb-4">
                {{review["review"]["description"]}}
              </p>
              <p class="fw-bold lead mb-2"><strong>{{review["vehicle"]["name"]}}</strong></p>
              <p class="fw-bold text-muted mb-0">{{review["review"]["date"]}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</section>
{%endblock%}