{%extends 'main.html'%}
{%block content%}
<section class=" arrivals show " style="width:100%;position:relative;text-align: left;">
    <div class="row">
        <div class="row">
    {%for vehicle in vehicles %}
        <div class="arr-col" style="max-width: 88%;width: 28%;">
            <div class="image product-image" style="width: 100%;" onclick='location.href="shop-single.html?id={{vehicle['_id']}}"'>
                <img src="/static/arrivals/01.jpg" alt="" style="object-fit:cover;width: 100%;">
            </div>

            <h5>{{vehicle["name"]}}</h5>
            <div class="rating">
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <div class="review">
                    <span>5.0 (5.8 5k Review)</span>
                </div>
            </div>
            <div class="features">
                <span><i class='bx bx-error-circle'></i>{{vehicle["description"]["vehicleType"]}}</span>
                <span><i class='bx bx-label'></i>{{vehicle["description"]["vehicleCapacity"]}} litres</span>
                <span><i class='bx bx-car'></i>{{vehicle["description"]["vehicleTransmission"] if vehicle["description"]["vehicleTransmission"] else "Manual"}}</span>
                <span><i class='bx bx-target-lock'></i>{{vehicle["description"]["vehiclePassengers"] if vehicle["description"]["vehiclePassengers"] else "4"}} Passengers</span>
                <span><i class='bx bx-car'></i>{{vehicle["description"]["vehicleModel"]}}</span>
                <span><i class='bx bx-target-lock'></i>{{vehicle["description"]["vehicleHp"]}} HosrsePower</span>
            </div>
            <div class="price">
                <p>&#x20b9; {{vehicle["description"]["vehiclePrice"]}}</p>
                <a href="shop-single.html?id={{vehicle['_id']}}"><button>Details</button></a>
            </div>
        </div>  
    {%endfor%}
        </div>
    </div>
</section>

{%endblock%}