{%extends 'main.html'%}
{%block content%}
<section class=" arrivals show " style="width:100%;position:relative;text-align: left;margin-bottom: 45px;">
    <div class="row">
        <div class="flexdisplay">
            
    {%for vehicle in vehicles %}
            {%set img_file = vehicle['description']['vehicleFiles'] if vehicle['description']['vehicleFiles'] else "n/a.jpg"%}
        <div class="arr-col" onclick="" style="max-width: 88%;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;position: relative;width: 28%;margin-left: 12px;border-radius: 8px;cursor: pointer;">
            <div class="image product-image" style="width: 100%;" onclick='location.href="shop-single.html?id={{vehicle['_id']}}"'>
                <img src="/static/arrivals/{{img_file.split(',')[0]}}" alt="" style="object-fit:cover;width: 100%;">
            </div>

            <h5>{{vehicle["name"]}}</h5>
            <h6>{{vehicle["description"]["vehiclePrice"]}}</h6>
            <span style="position: absolute;right: 1%;text-align: right;">{{vehicle["date"]}}</span>
            <div class="rating">
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <div class="review">
                    <span>0.0 (0.0 Review)</span>
                </div>
            </div>
            <div class="features">
                <span><i class='bx bx-error-circle'></i>{{vehicle["description"]["vehicleType"]}}</span>
                <span><i class='bx bx-label'></i>{{vehicle["description"]["vehicleCapacity"]}} litres</span>
                <span><i class='bx bx-car'></i>{{vehicle["description"]["vehicleTransmission"] if vehicle["description"]["vehicleTransmission"] else "Manual"}}</span>
                <span><i class='bx bx-target-lock'></i>{{vehicle["description"]["vehiclePassengers"] if vehicle["description"]["vehiclePassengers"] else "4"}} Passengers</span>
                <span><i class='bx bx-car'></i>{{vehicle["description"]["vehicleModel"]}}</span>
                <span><i class='bx bx-target-lock'></i>{{vehicle["description"]["vehicleHp"]}} HosrsePower</span>
            </div>
            <form style="display:none;" method="POST" id="cartForm{{vehicle['_id']}}" action="/update">
                <input type="hidden" name="vehicle_id" value={{vehicle["_id"]}}>
                
            </form>
            <div class="price">
                <p>KES &nbsp {{vehicle["description"]["vehiclePrice"]}}</p>
                <a onclick='document.getElementById("cartForm{{vehicle['_id']}}").submit()'><button>Add to Cart</button></a>
				<a href="/app/live/{{vehicle['_id']}}">Live View</a>
            </div>
        </div>  
    {%endfor%}
        </div>
    </div>
</section>

{%endblock%}