{%extends 'main.html'%}
{%block content%}
<section class=" arrivals show " style="width:100%;position:relative;text-align: left;">
    <div class="col-1 flexrow">
        <div class="show-col">
            <h5>Search</h5>
            <div class="searchBox">
                <input class="searchbar" type="text" placeholder="Search">
                <i class="bx bx-search"></i>
            </div>
        </div>

        <div class="show-col">
            <h5>Brands</h5>
            <div class="checkBox">
                <input type="checkbox">All Brands<br>
                <input type="checkbox">BMW<br>
                <input type="checkbox">Toyota<br>
                <input type="checkbox">Ferrari<br>
                <input type="checkbox">Audi<br>
                <input type="checkbox">Tesla<br>
                <input type="checkbox">Mercedes<br>
                <input type="checkbox">Hyundai<br>
            </div>
        </div>

        <div class="show-col">
            <h5>Transmission</h5>
            <div class="checkBox">
                <input type="checkbox">Gas<br>
                <input type="checkbox">Hybrid<br>
                <input type="checkbox">Diesel<br>
                <input type="checkbox">Electronic<br>
            </div>
        </div>

        <div class="show-col">
            <h5>Features</h5>
            <div class="checkBox">
                <input type="checkbox">Airbag Driver<br>
                <input type="checkbox">Airbag Passenger<br>
                <input type="checkbox">Alloy Wheels<br>
                <input type="checkbox">Anti Lock Branking System<br>
            </div>
        </div>
    </div>

    <div class="col-2 flexrow" style="position:absolute;right: 0;top: 0;">
       
        <div class="arr-row row flexdisplay overflow-x">
            <div class="arr-col">
                <div class="image">
                    <img src="img/Shop/car-parts-p1.png" alt="">
                </div>

                <div class="list">
                    <h5>Mercedes Benz Car</h5>
                    <div class="price">
                        <p><span>&#x20b9;32000</span>&#x20b9;28000</p>
                        <a href="shop-single.html"><button>Details</button></a>
                    </div>
                </div>
            </div>
            <div class="arr-col">
                <div class="image">
                    <img src="img/Shop/car-parts-p1.png" alt="">
                </div>

                <div class="list">
                    <h5>Mercedes Benz Car</h5>
                    <div class="price">
                        <p><span>&#x20b9;32000</span>&#x20b9;28000</p>
                        <a href="shop-single.html"><button>Details</button></a>
                    </div>
                </div>
            </div>
            <div class="arr-col">
                <div class="image">
                    <img src="img/Shop/car-parts-p1.png" alt="">
                </div>

                <div class="list">
                    <h5>Mercedes Benz Car</h5>
                    <div class="price">
                        <p><span>&#x20b9;32000</span>&#x20b9;28000</p>
                        <a href="shop-single.html"><button>Details</button></a>
                    </div>
                </div>
            </div>

            
        </div>
        <div class="number">
            <span class="black"><i class="bx bx-left-arrow-alt"></i></span>
            <span>1</span>
            <span class="black">2</span>
            <span class="black">3</span>
            <span class="black"><i class='bx bx-right-arrow-alt'></i></span>
        </div>
    </div>
</section>

{%endblock%}