
{%extends 'main.html'%}

{%block content%}
<div class="shop_single">
    <div class="left">
        <img class="main" src="img/Shop/car-parts-p7.png" alt="">
        <div class="row">
            <img src="img/Shop/car-parts-p1.png" alt="">
            <img src="img/Shop/car-part-p2.png" alt="">
            <img src="img/Shop/car-parts-p5.png" alt="">
            <img src="img/Shop/car-parts-p4.png" alt="">
        </div>
    </div>

    <div class="right">
        <h2>Car Engine Parts</h2>
        <div class="rate">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star-half"></i>
            <p>(4 Customer Review)</p>
        </div>
        <p class="price" style="padding: 0;">₹690 <span>₹620</span></p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nemo incidunt aliquid veniam, cupiditate rem laudantium eius quaerat illo dolor eaque corporis voluptate similique?</p>
        <div class="details">
            <div class="col">
                <p>Stock:</p>
                <span>Available</span>
            </div>
            <div class="col">
                <p>SKU:</p>
                <span>676TYWV</span>
            </div>
            <div class="col">
                <p>Quantity:</p>
                <span>
                    <input type="number" value="1">
                </span>
            </div>
            <div class="col">
                <p>Category:</p>
                <span>Car Parts</span>
            </div>
            <div class="col">
                <p>Tags:</p>
                <span>Car, Shop, Tire</span>
            </div>
            <div class="col social">
                <p>SHARE:</p>
                <i class="bx bxl-facebook"></i>
                <i class="bx bxl-instagram"></i>
                <i class="bx bxl-linkedin"></i>
                <i class="bx bxl-twitter"></i>
                <i class="bx bxl-youtube"></i>
            </div>
        </div>

        <div class="add-cart">
            <a href="#">
                <i class="bx bx-shopping-bag"></i>
                Add To Cart
            </a>
            <div class="other">
                <i class="bx bx-heart"></i>
                <i class="bx bx-sort"></i>
            </div>
        </div>
    </div>
</div>

{%endblock%}