
{%extends 'main.html'%}

{%block content%}
<style>
     .button-3 {
            appearance: none;
            background-color: #2ea44f;
            border: 1px solid rgba(27, 31, 35, .15);
            border-radius: 6px;
            box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            margin-top: 11px;
            padding: 9px 89px;
            position: relative;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
            white-space: nowrap;
            
            }

            .button-3:focus:not(:focus-visible):not(.focus-visible) {
            box-shadow: none;
            outline: none;
            }

            .button-3:hover {
            background-color: #2c974b;
            }

            .button-3:focus {
            box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
            outline: none;
            }

            .button-3:disabled {
            background-color: #94d3a2;
            border-color: rgba(27, 31, 35, .1);
            color: rgba(255, 255, 255, .8);
            cursor: default;
            }

            .button-3:active {
            background-color: #298e46;
            box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
            }
        .checkout-btn{
            position: absolute;
            right: 5%;
            bottom: 1%;
            padding: 9px 13px;
        }
</style>
<div class="shop_single">
    {%set img_file = vehicle_detail['description']['vehicleFiles'] if vehicle_detail['description']['vehicleFiles'] else "n/a.jpg"%}
    <div class="left" onclick="location.href='/app/live/{{vehicle_detail.get("_id")}}'">
        <img class="main" src="/static/arrivals/{{img_file.split(',')[0]}}" alt="">
		
        <div class="col" style="width: 100%;text-align:center;">
			<div class="image-gallery">
				{% for image_source in img_file.split(",")[1:] %}
					<img width="115px" height=" 99px" style="margin-top: 5px;" src="{{ url_for('static', filename='/arrivals/'+image_source) }}" alt="Image">
				{% endfor %}
			
				{%if vehicle_detail["live_view"] != false%}
					<a href="/app/live/{{vehicle['_id']}}"><button class="button-3">Live View</button></a>
				{%endif%}
            </div>
        </div>
    </div>

    <div class="right">
        <h2>{{vehicle_detail["name"] if vehicle_detail else "Vehicle Name" }}</h2>

        <p class="price" style="padding: 0;">{{vehicle_detail["description"]["vehicleMarketvalue"] if vehicle_detail else "Vehicle Price"}} <span>{{vehicle_detail["description"]["vehiclePrice"] if vehicle_detail else "Market Value"}}</span></p>
          <div class="details">
            <div class="col">
                <p>Stock: {{vehicle_detail["description"]["vehicleMax"] if vehicle_detail else "Vehicle Max Orders"}}</p>
                <span>Available</span>
            </div>
            <div class="col">
                <p>ENGINE CAPACITY:</p>
                <span>{{vehicle_detail["description"]["vehicleVin"] if vehicle_detail else "Vehicle Vin"}}</span>
            </div>
            <div class="col">
                <p>Description:</p>
                <span>{{vehicle_detail["description"]["vehicleDescription"] if vehicle_detail else "Vehicle Description"}}
                </span>
            </div>
            
            <div class="col social">
                <p>SHARE:</p>
                <i class="bx bxl-facebook"></i>
                <i class="bx bxl-instagram"></i>
                <i class="bx bxl-linkedin"></i>
                <i class="bx bxl-twitter"></i>
                <i class="bx bxl-youtube"></i>
            </div>
        </div>
        <form style="display:none;" method="POST" id="cartForm" action="/update">
            <input type="hidden" name="vehicle_id" value={{vehicle_detail["_id"] if vehicle_detail else null}}>
            <input type="hidden" name="user_id" value={{user["_id"] if user else null}}>
            
        </form>
        <form style="display:none;" method="POST" id="compareForm" action="/update">
            <input type="hidden" name="vehicle_id" value={{vehicle_detail["_id"] if vehicle_detail else null}}>
            <input type="hidden" name="user_id" value={{user["_id"] if user else null}}>
            <input type="hidden" name="compare" value="compare">
        </form>
        <div class="add-cart">
            <a role="button" onclick="document.getElementById('cartForm').submit()">
                <i class="bx bx-shopping-bag"></i>
                Add To Cart
            </a>
            <div class="other">
                <i class="bx bx-heart" onclick="likeItem(this)"></i>
                <i class="bx bx-sort" title="Trade In"></i>
            </div>
        </div>
    </div>
</div>

<script>
    function likeItem(el){
        console.log(el)
        const input = document.createElement("ipout")
        input.setAttribute("type","hidden")
        input.setAttribute("name","compare")
        input.setAttribute("value","compare")
        if(!el.hasAttribute("style")){
            document.getElementById('cartForm').appendChild(input)
            el.setAttribute("style","background: #d30d0d;color:white;")
            console.log(document.getElementById('cartForm'))
            document.getElementById('compareForm').submit()
        }else{
            document.getElementById('compareForm').submit()
            console.log(document.getElementById('cartForm'))
            const lastChild = document.querySelector('#cartForm :last-child');
            lastChild.remove()
            el.removeAttribute("style")
        }
    }
    if(location.search.includes("submit=true")){
        document.getElementById('cartForm').submit()
        location.search  = location.search.replace("submit=true","success")
    }
</script>
{%endblock%}